.sign-in {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.sign-in-content {
    display: flex;
}

.sign-in-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 768px;
    height: 739px;
    background-color: #fff;
}

.sign-in-logo {
    padding-top: 32px;
    padding-left: 48px;
}

.sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.sign-in-headline {
    color: #323142;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.41px;
    line-height: 0;
}


.sign-in-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.sign-in-google,
.sign-in-apple {
    width: 183px;
    height: 60px;
    border-radius: 13px;
    background: #F5F5F5;
    color: #323142;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
}

.sign-in-google,
.sign-in-apple {
    cursor: pointer;
}

.sign-in-text {
    color: rgba(0, 90, 100, 0.35);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 0;
}

.sign-in-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sign-in-input {
    width: 382px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    border-radius: 14px;
    background: #F5F5F5;
}

.sign-in-username,
.sign-in-pass {
    width: 280px;
    height: 40px;
    color: #C2C3CB;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: inherit;
}

.forget-password-ref {
    color: #6C5FBC;
    text-decoration: none;
    text-align: end;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-in-button {
    width: 382px;
    height: 60px;
    border-radius: 15px;
    background: #6C5FBC;
    color: #F3F5F6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.534px;
    text-transform: uppercase;
    border: none;
    transition: 1s background-color ease;
}

.sign-in-button:hover {
    cursor: pointer;
    background-color: #5144A0;
}

.sign-up-ref {
    color: #3E3E3E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.189px;
}

.sign-up-ref-link {
    color: #6C5FBC;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5px;
    transition: 1s color ease;
}

.sign-up-link:hover {
    color: #5144A0;
}


.privacy-policy-text {
    display: flex;
    justify-content: space-around;
    column-gap: 350px;
}

.privacy-policy-text p {
    color: #718096;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.sign-in-right {
    width: 768px;
    height: 739px;
    background-color: #6C5FBC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-in-right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: auto;
}

.sign-in-right-title {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-right-title h1 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
}

.sign-in-right-title p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.7;
}

.sign-in-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.indicator-rectangle {
    width: 24px;
    height: 6px;
    border-radius: 50px;
    background: #FFF;
}

.indicator-ellipse {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #FFF;
    opacity: 0.5;;
}